@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Staatliches&display=swap');

body {
    background-color: ivory;
}

#header {
    background-color: rgb(19, 105, 139);
    text-align: center;
    color: white;
    font-size: 30px;
    margin: -10px;
    padding: 10px;
    overflow: auto;
    margin-bottom: 50px;
}

h1 {
    padding-top: 3%;
    text-align: center;
    font-weight: normal;
    letter-spacing: 3px;
    font-family: staatliches;
}

h4 {
    padding-top: 2%; 
    font-family: poppins;
    font-size: 1.2rem;
    font-weight: 600;
}

p {
    font-family: poppins;
}

h3 {
    font-family: poppins;
    font-weight: bold;
}

#footer {
    width: 100%;
    background-color: rgb(19, 105, 139);
    color: white;
    text-align: center;
    padding: 10px;
    bottom: 0;
    left: 0;
    opacity: 50%;
    letter-spacing: 2px;
}

.description {
    color: rgb(19, 105, 139);
    font-size: 1.5em;
    padding: 0;
    margin: 0;
}

#stuff {
    display: flex;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

#cart {
    text-align: center;
    font-size: 1.5em;
}

#balance {
    text-align: center;
    width: 720px;
}

#form-currency {
    font-weight: bold;
    font-size: 1.2em;
    padding: 10px;
}

input {
    padding: 10px;
}

button {
    padding: 10px;
}


/* new css */

.show-cart li {

    display: flex;

}

.copyright {
    font-size: 12px;
}


